Quick Start

*Add ${project.artifactId} to the classpath

  Download the ${project.artifactId}-${project.version}.jar on the {{{http://github.com/Mahoney/sysout-over-slf4j/downloads}Downloads page}}.
  
  Alternatively, add the following to your maven pom dependencies:

----------------------------------------
<dependency>
	<groupId>${project.groupId}</groupId>
	<artifactId>${project.artifactId}</artifactId>
	<version>${project.version}</version>
</dependency>
----------------------------------------

*In a Standalone Application

  Make the following call as early as possible in the startup of your application:

----------------------------------------
SysOutOverSLF4J.sendSystemOutAndErrToSLF4J();
----------------------------------------

*In a Servlet Container

  Add the following to your web.xml:

----------------------------------------
<listener>
  <listener-class>uk.org.lidalia.sysoutslf4j.context.SysOutOverSLF4JServletContextListener</listener-class>
</listener>
----------------------------------------
