<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <display-name>Webapp With JDK14</display-name>

  <listener>
    <listener-class>uk.org.lidalia.sysoutslf4j.context.ServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>logger</servlet-name>
    <servlet-class>uk.org.lidalia.sysoutslf4j.webapps.LoggerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logger</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>printer</servlet-name>
    <servlet-class>uk.org.lidalia.sysoutslf4j.webapps.PrinterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>printer</servlet-name>
    <url-pattern>/print</url-pattern>
  </servlet-mapping>
</web-app>
